.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.App-content {
  height: 100%;
  display: flex;
}

.App .Demo {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

.App-content > .Menu {
  width: 270px;
  height: 100%;
  z-index: 2;
}

.App-menutoggle {
  display: none;
  position: absolute;
  right: 0;
  z-index: 3;
  cursor: pointer;
  font-size: 30px;
  margin: 0 10px;
}

.App-menutoggle::before {
  content: "☰";
}

@media (max-width: 800px) {
  .App-menutoggle {
    display: block;
  }

  .App-content .Menu {
    position: absolute;
    right: 0;
    transition: transform 0.2s;
  }

  .App:not(.menuopen) .Menu {
    transform: translateX(100%);
  }
}
