.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-content {
  height: 100%;
  display: flex;
}

.App .Demo {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

.App-content > .Menu{
  width: 270px;
}
