.Menu {
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #f7f7f7;
  border-left: 1px solid #ececec;
  --lumo-base-color: transparent;
  overflow: auto;
}

.Menu-grid vaadin-grid-tree-toggle {
  cursor: pointer;
  user-select: none;
}

.Menu-grid vaadin-grid-tree-toggle[style="---level:0;"] {
  font-size: 14px;
  font-weight: 700;
  line-height: 3;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  flex-direction: row-reverse;
  color: #6d6d6d;
}

.Menu-grid vaadin-grid-tree-toggle[style="---level:1;"] {
  margin-left: -40px;
}
