.playground {
  width: 100%;
  box-sizing: border-box;
  border: 1px dashed var(--lumo-contrast-50pct);
  padding: var(--lumo-space-m);
  border-radius: var(--lumo-space-xs);
}

body pre,
body code,
.CodeMirror.CodeMirror-wrap {
  background-color: var(--lumo-contrast-5pct);
  border-radius: var(--lumo-border-radius);
  padding: var(--lumo-space-xs);
  height: auto;
  margin-bottom: var(--lumo-space-m);
  color: var(--lumo-secondary-text-color);
}

pre code,
.CodeMirror pre {
  background-color: transparent !important;
}
